[submodule "u-boot-brain"]
	path = u-boot-brain
	url = https://github.com/brain-hackers/u-boot-brain.git
[submodule "linux-brain"]
	path = linux-brain
	url = https://github.com/brain-hackers/linux-brain
